name: $(Build.DefinitionName)-$(Date:yyyyMMdd)-$(BuildID)

trigger: none

pool:
  vmImage: ubuntu-latest

stages:
  - stage: Deployment_DEV
    displayName: Deployment - DEV
    variables:
      - group: dev
    jobs:
      - deployment: deployment
        environment: $(Environment)
        strategy:
          runOnce:
            deploy:
              steps:
                - task: AzureCLI@2
                  inputs:
                    azureSubscription: $(Subscription)
                    scriptType: bash
                    scriptLocation: inlineScript
                    inlineScript: |
                      az deployment group create `
                        --location $(Location) `
                        --template-file main.bicep `
                        --name adf-csv-to-cosmos-$(Build.BuildId)-$(Environment)
                        --parameters environment=$(Environment)
                        --parameters resourceGroupName=rg-adf-csv-to-cosmos-$(Environment)