name: $(Build.DefinitionName)-$(Date:yyyyMMdd)-$(BuildID)

trigger: none

variables:
  - name: ServiceConnection
    value: AzureServiceConnection
  - name: Location
    value: japaneast

pool:
  vmImage: ubuntu-latest

stages:
  - stage: Deployment_DEV
    displayName: Dev
    variables:
      - name: Environment
        value: dev
    jobs:
      - deployment: Deployment
        environment: dev
        strategy:
          runOnce:
            deploy:
              steps:
                - template: './steps/deploy-bicep.yml'
                  parameters:
                    storageAccountName: adfcsvcosmosdev
  - stage: Deployment_Staging
    displayName: Staging
    variables:
      - name: Environment
        value: stg
    jobs:
      - deployment: Deployment
        environment: staging
        strategy:
          runOnce:
            deploy:
              steps:
                - template: './steps/deploy-bicep.yml'
                  parameters:
                    storageAccountName: adfcsvcosmosstg